:root {
  --main: rgba(51, 170, 51);
  --main-transparent: rgba(51, 170, 51, .2);
  --background: #f9f9f9;
}

body {
  background-color: white;
  -webkit-font-smoothing: antialiased;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  padding-bottom: 250px; /* Gap for the static card selection bar at bottom */
  background-color: var(--background);
  font-size: 16px;
}

html, body, #app, #app>div {
  height: 100%
}

input {
  border-color: var(--main);
  border-width: 2px;
  border-style: solid;
  padding: 10px;
  font-weight: bold;
  border-radius: 10px;
}

a {
  color: var(--main);
}

a:hover {
  color: var(--main-transparent);
}

input:focus {
    outline: none;
}

button {
  border-color: var(--main);
  border-width: 2px;
  border-style: solid;
  padding: 10px;
  font-weight: bold;
  font-size: 12px;
  background: white;
  border-radius: 10px;
  color: var(--main);
  font-weight: bold;
  transition: all .2s ease-in-out;
}

::selection {
  background: var(--main-transparent);
}

button:hover {
  transform: scale(1.1);
  background-color: var(--main-transparent);
}

.ant-modal-close:hover {
  background-color: var(--main-transparent);
  transform: none;
}

code {
  font-size: 18px;
}

.ant-modal-content {
  border-radius: 10px;
}

.ant-modal-header {
  border-radius: 10px;
  margin-bottom: 30px;
  border: none;
}

.ant-modal-footer {
  border-radius: 10px;
  margin-top: 30px;
  border: none;
}

.cardz-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10px;
  cursor: default;
}

.cardz {
  margin: 10px 5px;
  width: 100px;
  height: 135px;
  background: white;
  flex-shrink: 0;
  transition: all .2s ease-in-out;
  padding: 10px;
}

.cardz-selection-list:selection {
  color: transparent;
  background: transparent;
}

.cardz-hover:hover {
  transform: scale(1.1);
  background-color: var(--main-transparent);
}

.border-radius {
  border-radius: 10px;
}

.cardz-name-center {
  color: black;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  font-weight: bold;
}

.cardz-main-title {
  font-weight: bold;
  font-size: 2rem;
  color: var(--main);
}

.cardz-selection-list {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-bottom: 5px;
  display: flex;
  align-items: center;
  overflow: scroll;
  overflow-y: hidden;
  cursor: pointer;
  left: 0;
  right: 0;
}

.theme-border {
  border-color: var(--main);
  border-width: 2px;
  border-style: solid;
}

.center-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.center-container-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.center {
  margin:auto;
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

.center-text {
  text-align: center;
}

.left-text {
  text-align: left;
}

#join-input {
  width: 400px;
}

#join-button {
  width: 400px;
  margin-top: 10px;
}

#leave-button {
  margin: 10px;
}

#invite-button {
  position: absolute;
  margin: 10px;
  right: 0;
}

#active-cardz-section {
  padding-bottom: 300px;
}

#reset-button {
  margin-left: 10px;
}

#create-button {
  margin-top: 40px;
  margin-bottom: 40px;
}

#index-banner-image {
  border-radius: 20px;
}
